@font-face {
    font-family: "Harlow Solid Italic";
    src: url(fonts/HARLOWSI.TTF) format("truetype");
}

.bodyback {
    background-image: url(imagenes/fondoserviccios2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    /*background-color: #0C60F2;*/
}

.geder {
    background-color: rgb(245, 150, 17) ;
    /* #00DDFF
    #0CE891
    #0DFF1D*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin: 10px;
}

#navigate {
    margin-left: auto;
}

#navigate ul {
    list-style-type: none;
    display: flex;
}

#navigate li {
    margin-right: 10px;
}

.texto {
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    font-family: sans-serif;
    flex-grow: 1;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 30px rgb(0, 0, 0);
}
.textoh1 {
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    font-family:sans-serif, "Harlow Solid Italic";
    flex-grow: 1;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    font-size: 50px;
}
.textogeder {
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    font-family:  "Harlow Solid Italic",sans-serif;
    font-size: 50px;
    color: rgb(9, 129, 209);
    text-shadow: 1px 1px 20px rgb(9, 129, 209, 0.5);
}
.textoREF {
    text-decoration: none;
    font-family: sans-serif;
    flex-grow: 1;
    color: rgb(9, 129, 209);
    text-shadow: 1px 1px 20px rgb(9, 129, 209);
}

#redes {
    text-align: center;
    color: rgb(0, 0, 0);
}

#redes h2 {
    padding-top: 15px;
    font-size: 50px;
    font-family: sans-serif;
}

.redes-container {
    display: flex;
    justify-content: center;
}

.red-social {
    display: flex;
    align-items: center;
    margin: 0 40px;
}

.red-social span {
    font-family:sans-serif;
    font-size: 30px;
}

.red-social img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
}

.red-social span {
    font-weight: bold;
}

.gallery {
    align-items: center;
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.item {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.item img,
.item iframe {
    width: 100%;

}

.item iframe {
    border: none;
}

.item video {
    width: 100%;
    height: 100%;
    object-fit:cover; /* Ajuste del video */
}